.box{
  display: inline-block;
  min-width: 300px;
  min-height: 300px;
  border: 1px solid #000;
  padding: 10px;
  margin-right: 20px;
  font-size: 25px;
}

.box.box-size-medium{
  min-width: 200px;
  min-height: 200px;
}

.box.box-size-small{
  min-width: 110px;
  min-height: 110px;
}

.box-first{
  background-color: blue;
  color: white;
}

.box-second{
  background-color: green;
  color: white;
}

.box-third{
  background-color: red;
  color: white;
}
